*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
/* :root{
    --black:#000;
    --white: #fff;

}
.dark{
    --black: #fff;
    --white: #000;
} */
header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 40px 30px;
    z-index: 10000;
}
header .logo{
    position: relative;
    display: inline-flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.rightside{
    display: flex;
}
.btns{
    position: relative;
    width: 40px;
    height: 40px;
    background: rgb(16 22 26 / 0%);;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns ion-icon{
    font-size: 1.5rem;
    color: white;
    }
.btns.menuToggle ion-icon{
    font-size: 3em;
}

.btns ion-icon:nth-child(2){
    display: none;
}

.btns.active ion-icon:nth-child(2)
{
    display: block;
} 
.btns.active ion-icon:nth-child(1)
{
    display: none;
} 
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;

}
.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}
.dark .mask{
    filter: invert(1);
    mix-blend-mode: multiply;
}
.main h2{
    position: absolute;
    z-index: 3;
    font-size:100px;
    color: #fff;
    text-shadow: 0 20px 30px rgba(0, 0,0,0.2);
}
.copy{
    position: absolute;
    left: 30px;
    bottom:20px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
}
.sci{
    position: absolute;
    right: 40px;
    bottom:20px;
    z-index: 4;
    display: flex;
    flex-direction: column;
}
.sci li{
    list-style: none;
    padding: 4px;
}
.sci li:hover {
    background-color: red;
border-radius: 100%;
}
.sci li a{
    text-decoration: none;
    font-size: 1.75em;
}
@media (max-width: 768px) {
    header{
        padding: 20px;
    }
    .copy{
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .sci{
        right: 10px;
        bottom: 10px;
    }
}