@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
     background: #fff;
    min-height: 100vh;
}
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#header .logo
{
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li
{
    list-style: none;
    margin-left: 20px;
}
#header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active
{
    background: #094b65;
    color: #fff;

}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
   }

   section #rock
{
    z-index: 10;
    width: 10px;
   height: 10px;

   
    
}
section img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;

}

section #text
{
    min-height: 100px;
    color: #e7c7c7;
    font-size: 7vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
    z-index: 11;
    
}
section #text span
{
    font-size: 0.20em;
    font-family: 'poppins',sans-serif;
    text-align: center;

}
#btn
{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: none;
  color: #e6e6e6;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
 text-align: left;
 
  transform: translateY(50px);
    
}

.sec
{
   position: relative;
   padding: 50px; 
   background: #ffffff; 
}
.sec h2
{
    font-size: 3.5em;
    color: rgb(57, 14, 211);
    margin-bottom: 10px;
    
}
.sec p
{
    font-size: 1em;
    color: rgb(202, 61, 61);
}